.chat{
    width: 300px;
}

.chat .conversas .div{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #6767ff;
    padding: 10px;
    border-radius: 5px;
}

.chat .btn{
    width: 100%;
    margin-top: 6px;
}