
body {
    background-color: #dedede;
}

.secao-detalhes {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px ;
}

.secao-detalhes article {
    background-color: #ffff;
    width: 200px;
    height: 200px;
    border-radius: 100px; /*pra deixar redondo*/
    margin-bottom: 30px;
    display: flex;
    align-items: center; /*alinhamento vertical*/
    justify-content: center; /*alinhamento horizontal*/

    transition: 1s;
    box-shadow: 0px 0px 15px 1px green;
}

.secao-detalhes article:hover {
    color: red;
    transition: 1s;
    transform: scale(1.2) rotate(-60deg);
}

.secao-detalhes i {
    font-size: 5rem;
}

#sabores {
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 5px;
    box-shadow: 0 5px 10px #00000015; /*horizontal vertical*/
    padding: 16px;
}

#sabores label {
    display: block;
}

#sabores input[type="checkbox"] {
    width: 20px;
    height: 20px;
    position: relative;
    /*border: 2px solid #aa00e3*/
}

#sabores input[type="checkbox"]::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #aa00e3;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    transition-duration: 200ms;
}

#sabores input[type="checkbox"]:checked::after {
    background-color: #aa00e3;
}

#sabores input[type="checkbox"]::before {
    content: "";
    width: 12px;
    height: 5px;
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 5px);
    transform: rotate(-45deg);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    z-index: 1;
}








